body {
    position: relative;
    padding: 0;
    margin: 0;
    background-color:#3C486B ;
    
}

section {
    min-height: 88vh;
    background-color: #3C486B;
}

.centered-text {
    align-items: center;
    height: 100%;
    padding-top: 18%;
    padding-left: 12%;
}

h1 {
    font-size: 23px; 
    color: #F0F0F0;
    font-family: 'Arcade Classic', sans-serif;
    letter-spacing: 5px;

}

h2 {
    font-size: 18px; 
    color: #F45050;
    font-family: 'Arcade Classic', sans-serif;
    letter-spacing: 5px;
    margin: 0;

}

h3 {
    font-size: 46px; 
    color: #F9D949;
    font-family: 'Arcade Classic', sans-serif;
    letter-spacing: 5px;
    margin: 0;

}

p {
    font-size: 16px; 
    color: #F0F0F0;
    font-family: 'Arcade Classic', sans-serif;
    letter-spacing: 6px;
    margin: 0; /* Remove the default margin */
    width: 70%;
    line-height: 1.5;

}
.highlight {
    color: #F9D949; /* Desired color for the highlighted phrases */
}

.project-container{
    margin-left: 8%;
}


.p2 {
    font-size: 20px; 
    color: #F0F0F0;
    font-family: 'Arcade Classic', sans-serif;
    letter-spacing: 6px;
    margin: 0; /* Remove the default margin */
    width: 65%;
    margin-left: 20%;
}

.h22 {
    font-size: 20px; 
    color: #F45050;
    font-family: 'Arcade Classic', sans-serif;
    letter-spacing: 6px;
    margin-top: 0%; /* Remove the default margin */
    width: 100%;
    margin-left: 20%;
}




.button-container {
    position: fixed;
    top: 0%; /* Position the container at the top of the screen */
    right: 0%; /* Position the container at the right of the screen */
    width: 100%;
    height: 12%;
    background-color: rgba(60, 72, 107, 0.9);
    padding: 0;
    display: flex; /* Use flexbox to align buttons horizontally */
    justify-content: flex-end; /* Align buttons to the right */
    z-index: 9999; /* Set a high z-index value */
}

.text-container {
}
.text-container2 {
    float: left; /* Float the image to the left */
    margin-left: 23%;
}

.image-container {
    float: left; /* Float the image to the left */
}

.image-container2 {
}

.two-column-container2 {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.two-column-container {
    display: flex;
    align-items: center;
    margin-top: 7%;
}

.contact-container {
    position: absolute;
    height: 5%;
    width: 70%;
    background-color: #F9D949;
    right: 15%;
}

.button-container-scrolled {
    border-bottom: 1px solid #3C486B;
    background-color: rgba(60, 72, 107, 0.6);
}

.menu-button {
    position: relative;
    font-family: 'Arcade Classic', sans-serif;
    margin-left: 10px; /* Add some space between buttons */
    color: #F9D949;
    right: 6%;
    background: none; /* Remove background */
    border: none; /* Remove border */
    margin: 10px;
    border-radius: 70%; /* Add circular border */
    transition: border 0.3s;
}

.menu-button:hover {
    /*border: 4px solid #434242; /* Add border on hover */
    color: #F0F0F0;
}

/* Styles when button is pressed (active state) */
.menu-button.active {
    color: #F0F0F0;
}

.gif-image {
    width: 50px; /* Set the width of the GIF */
    margin-top: 20px; /* Add some space between the paragraph and GIF */
    cursor: pointer;
}

.resume-image {
    position: inherit;
    width: 100px; /* Set the width of the GIF */
    margin-top: 9%; /* Add some space between the paragraph and GIF */
    cursor: pointer;
    margin-left: 55%;
}

.portrait-image {
    width: 40vh; /* Set the width of the GIF */
    margin-left: 34%;
    
}
.scroll-animation {
    transform: translateX(-50%); /* Move the image outside the left edge of its container */
    transition: transform 0.5s ease-in-out; /* Add a transition for smooth movement */
  }
  
  .scroll-animation.in-view {
    transform: translateX(0); /* Move the image back to its original position */
  }

  
/* Class for each social media icon */
.social-icon {
    width: 40px; /* Recommended width for social media icons */
    height: 40px; /* Recommended height for social media icons */
    margin-top: 9px;
    margin-right: 10px; /* Adjust the spacing between icons as needed */
    padding: 10px;
    /* You can add other styles (e.g., border, border-radius, etc.) to customize the icons */
}

@font-face {
    font-family: 'Arcade Classic';
    src: url('fonts/ARCADECLASSIC.TTF') format('truetype'); /* Adjust the path and format based on the font file you have */
    /* Add other font file formats here if available (e.g., woff, woff2) */
  }
  

@media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 480px (e.g., mobile phones in portrait mode) */
    h1 {
        font-size: 28px; /* Adjust h1 font size */
    }

    h2 {
        font-size: 18px; /* Adjust h2 font size */
    }

    h3 {
        font-size: 38px; /* Adjust h3 font size */
    }

    p {
        font-size: 15px; /* Adjust paragraph font size */
        width: 90%; /* Adjust the width of the paragraph */
        margin: 2%;
    }

    .centered-text {
        padding-top: 58%; /* Adjust the top padding of centered text */
        padding-left: 8%; /* Adjust the left padding of centered text */
    }
    .menu-button{
        right: 0%;
    }

    .button-container {
        height: 20%;
        right: 5%;
    }
}

@media screen and (max-width: 480px) {
    /* Styles for screens with a maximum width of 480px (e.g., mobile phones in portrait mode) */
    h1 {
        font-size: 28px; /* Adjust h1 font size */
    }

    h2 {
        font-size: 18px; /* Adjust h2 font size */
    }

    h3 {
        font-size: 38px; /* Adjust h3 font size */
    }

    p {
        font-size: 15px; /* Adjust paragraph font size */
        width: 90%; /* Adjust the width of the paragraph */
        margin: 2%;
    }

    .centered-text {
        padding-top: 58%; /* Adjust the top padding of centered text */
        padding-left: 8%; /* Adjust the left padding of centered text */
    }

    .button-container {
        height: 12%;
        right: 5%;
    }
    .text-container {
    }
    
    .two-column-container {
        display: flex;
        align-items: center;
        flex-direction: column; /* Set flex items to stack vertically */
        margin-top: 22%;
      }

    .portrait-image {
        width: 23vh; /* Set the width of the GIF */
        margin-left: 0%;
        margin-bottom: 20%;
        animation: rotateOnce 1s ease-in-out;
    }
    .image-container {
        display: inline-block;
      }
      
    .p2 {
        font-size: 20px; 
        color: #F0F0F0;
        font-family: 'Arcade Classic', sans-serif;
        letter-spacing: 6px;
        width: 80%;
        margin-left: 13%;
        margin-bottom: 3%;
    }

    @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 80%;
        }
      }
      
      /* Cursor blink animation */
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: #F9D949;
        }
      }


    .project-container{
        margin-left: 13%;
    }

    .h22 {
        font-size: 20px; 
        color: #F45050;
        font-family: 'Arcade Classic', sans-serif;
        letter-spacing: 6px;
        width: 65%;
        margin-left: 0%;
    }

    .text-container2 {
        float: left; /* Float the image to the left */
        margin-left: 24%;
    }
    .resume-image {
        position: inherit;
        width: 100px; /* Set the width of the GIF */
        margin-top: 9%; /* Add some space between the paragraph and GIF */
        cursor: pointer;
        margin-left: 0%;
    }
    .image-container2 {
        margin-right: 20%;
    }

    .two-column-container2 {
        display: flex;
        align-items: center;
        margin-top: 3%;
        margin-bottom: 20%;
    }
}